services:
  backend:
    build:
      context: .             
      dockerfile: backend/Dockerfile 
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongo
    restart: always

  client:
    build:
      context: .             # غيرت المسار هنا كمان
      dockerfile: client/Dockerfile
    container_name: client
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data: