name: CI/CD to EKS

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Backend Image
        run: |
          docker build -t a7medelzanaty/backend-app:latest ./backend
          docker push a7medelzanaty/backend-app:latest

      - name: Build and Push Frontend Image
        run: |
          docker build -t a7medelzanaty/frontend-app:latest ./frontend
          docker push a7medelzanaty/frontend-app:latest

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --region us-east-1 --name rent-a-ride-eks

      - name: Deploy to EKS
        run: |
          kubectl rollout restart deployment/backend-deployment
          kubectl rollout restart deployment/frontend-deployment